<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Gantelubricants || Oil Lubricant Company </title>
	<!--/metadata -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="keywords" content="" />
	<!--//metadata -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" /><!-- for testimonials -->
<link rel="stylesheet" href="/css/swipebox.css">

	<link href="/css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>
	<!-- header -->
	<div class="header" id="home">
		<div class="content white">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="/">
							<h1>Gantelubricants </h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li><a class="active" href="/">Home</a></li>
								<li><a class="scroll" href="#about" >About Us</a></li>
								<li><a class="scroll" href="#services">Products</a></li>
								<!--<li><a class="scroll" href="#gallery">Gallery</a></li>-->
								<li><a class="scroll" href="#contact" >Contact</a></li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>We provide best industrial <span>lubricant</span> services</h3>
						<p>Solutions made easy</p>
						
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>We Deal with only the <span>best</span> industrial lubricants</h3>
						<p>You deserve the best</p>
						
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>From <span>humble</span> beginnings to international Supplies</h3>
						<p>Solutions made easy</p>
						
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">

						<h3> Located around <span>Asia</span> and the United States</h3>
						<p>You deserve the best</p>
						
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
	</div>
	<!--//banner -->
	<!--/icons-->
	<div class="banner-bottom" id="about">
		<div class="container">
		<div class="w3-heading-all">
				<h3>About us</h3>
			</div>
			<div class="inner_sec_info_agileits_w3">
				<div class="col-md-4 grid_info">
					<div class="icon_info">
						<span class="fa fa-table" aria-hidden="true"></span>
						<h5>LEGACY</h5>
						<p>For many years, we have built un-severable alliances with specialist lubricant
						manufacturers and blenders across the Asian region with a unique and extensive 
						range of quality lubricants for supply to many different industries across the globe.</p>
					</div>
				</div>
				<div class="col-md-4 grid_info">
					<div class="icon_info">
						<span class="fa fa-truck" aria-hidden="true"></span>
						<h5>JOURNEY SO FAR</h5>
						<p>From humble beginnings, to international supply of a wide 
						range of Lubricants, you can be confident that the products we supply 
						are unique and services come with a reputation that is hard to match.</p>
					</div>
				</div>
				<div class="col-md-4 grid_info">
					<div class="icon_info">
						<span class="fa fa-life-ring" aria-hidden="true"></span>
						<h5>OUR EDGE</h5>
						<p>Lubricants we supply are the same grade and standard as ACEA European Oil Sequence standard 
						and the American Petroleum Institute Standard for various types of engines. </p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//icons-->
	<!--//banner-bottom-->
	<!-- services -->
	<div class="services" id="services"> 
		<div class="container"> 
					<div class="agileits-title"> 
				<div class="w3-heading-all">
				<h3>Services</h3>
			</div>
				<div class="clearfix"> </div>
			</div>
		<div id="horizontalTab">
		<ul class="resp-tabs-list">
			<li><i class="fa fa-align-right" aria-hidden="true"></i> ENGINE LUBRICANTS</li>
			<li><i class="fa fa-braille" aria-hidden="true"></i> AGRICULTURAL LUBRICANTS</li>
			<li><i class="fa fa-life-ring" aria-hidden="true"></i> HYDRAULIC LUBRICANTS</li>
			<li><i class="fa fa-home" aria-hidden="true"></i> GEAR LUBRICANTS</li>
		</ul>
		<div class="resp-tabs-container">
		
			<div class="tab1">
				<div class="col-md-6 tab-info-img">
						<img src="/images/s11.jpg" alt="img">
				</div>
				<div class="col-md-6 tab-info">
					     <h4>Design with 100% Pure Quality</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo.</p>
				
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="tab2">
				
				<div class="col-md-6 tab-info">
					     <h4>Lorem ipsum dolor sit amet</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo.</p>
				
				</div>
				<div class="col-md-6 tab-info-img">
						<img src="/images/s22.jpg" alt="img">
				</div>
				<div class="clearfix"></div>
			</div>
		
			<div class="tab3">
					
				<div class="col-md-6 tab-info-img">
						<img src="/images/s33.jpg" alt="img">
				</div>
				<div class="col-md-6 tab-info">
					     <h4>Lorem ipsum dolor sit amet</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo.</p>
				
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="tab4">
				
				<div class="col-md-6 tab-info">
					     <h4>Lorem ipsum dolor sit amet</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo.</p>
				
				</div>
				<div class="col-md-6 tab-info-img">
						<img src="/images/s44.jpg" alt="img">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
 
		</div>
	</div>
	<!-- //services --> 


			<div class="clearfix"> </div>
<!-- //Clients -->
<!-- /contact us -->
<div class="contact-w3-agileits w3ls-section jarallax" id="contact">
		<div class="container">
		<div class="w3-heading-all">
				<h3>Contact us</h3>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 contact-left-w3ls">				
				<div class="visit">
					<div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
						<h4>Visit us</h4>
						<p>2264 Sundown Lane, Texas</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="mail">
					<div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
						<h4>Mail us</h4>
						<p><a href="mailto:info@example.com">info@example.com</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="call">
					<div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
						<span class="glyphicon glyphicon-phone fa fa-phone" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
						<h4>Call us</h4>
						<p>708-288-9545</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="visit">
					<div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
						<h4>Business hours</h4>
						<p>Mon-Sat 09:00 AM - 07:00PM</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-7 col-sm-7 col-xs-12 contact-right-w3l">
				<form action="#" method="post">
					<input type="text"  class="name" name="name" placeholder="First Name" required="">
					<input type="text"  class="name" name="name" placeholder="Last Name" required="">
					<input type="text"  class="name" name="name" placeholder="Email" required="">
					<input type="text"  class="name" name="name" placeholder="Subject" required="">
					<textarea placeholder="Your Message" required=""></textarea>
					<input type="submit" value="SEND MESSAGE">
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- //contact us -->
<!--footer-->

	<div class="footer">
		<nav>
			<ul class="nav-buttom">
				<li><a class="scroll" href="#home">Home</a></li>
				<li><a class="scroll" href="#about">About</a></li>
				<li><a class="scroll" href="#services">Services</a></li>
				<li><a class="scroll" href="#gallery">Gallery</a></li>
				<li><a class="scroll" href="#contact">Contact</a></li>
			</ul>
		</nav>
		<div class="container">
		<div class="colr-row col-md-6  ">
			<div class="col-md-6 col-sm-6 col-xs-6  bottom-head bottm-grid">
				<h2><a href="/">Gantelubricants</a></h2>
				<span class="cap">Lorem Ipsum</span>
				<div class="clearfix"> </div>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-6 copyright bottm-grid">
				<h3>Follow us</h3>
				<div class="icons">
					<ul>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-rss"></span></a></li>
						<li><a href="#"><span class="fa fa-vk"></span></a></li>
					</ul>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			</div>
			<div class="colr-row  col-md-6">
			<div class="col-md-6 col-sm-6 col-xs-6 one bottm-grid">
				<h3>About us</h3>
				<p> enim. Aliquam lorem ante, dapibus in,Aliquam lorem ante </p>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 three bottm-grid">
				<h3>Contact</h3>
				<div class="addres up-out">
					<p><span class="fa fa-map-marker icons-left" aria-hidden="true"></span>333 Broome St New York</p>

					<p><span class="fa fa-phone icons-left" aria-hidden="true"></span>Call us:+9900887766</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //Copyright -->
			<div class="clearfix"> </div>
		</div>
		</div>
	</div>
	<footer>
		<p>&copy;2018 Gantelubricants. All Rights Reserved | Design by <a href="http://www.sshalo.com" target="_blank">Serge Shalo</a></p>
	</footer>

	<!-- js -->
	<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
		<!-- script for responsive tabs -->	
<!-- start-smoth-scrolling -->
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->

<!-- start-smoth-scrolling -->		
<script src="/js/easy-responsive-tabs.js"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>

		<!-- swipe box js -->
	<script src="/js/jquery.swipebox.min.js"></script> 
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
	</script>
<!-- //swipe box js -->
		

			<!-- FlexSlider-JavaScript -->
	<script defer src="/js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(function(){
			SyntaxHighlighter.all();
				});
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
			});
		});
	</script>
	<!-- //FlexSlider-JavaScript -->
	<!-- stats -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->
</body>

</html>